.center-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0px solid;
  position: relative;
  padding-top : 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
}

.your-image {
  width: 90%;
  margin: 25px;
  box-shadow: 0px 0px 5px #000000;
  border-radius: 15px;
}

.eventblock {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event {
  position: relative;
  display: inline-block;
  width: 28%; /* 如果希望每個事件的寬度均等，可以將寬度設置為50% */
  height: 100%;
  margin: 7px;
  bottom: 20px;
  left: 10px;
}

.event img {
  max-width: 100%; /* 設置最大寬度為100% */
  height: auto; /* 設置高度為auto，使圖像保持原始比例 */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  margin: 7px;
  box-shadow: 0px 0px 10px #000000;
}

.event:hover {
  transform: scale(1.1);
}



.image-container {
  position: relative;
  width: 25%
}


.card-title {
  position: absolute;
  top: 24px;
  left: 25px;
  width: 90%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 17px 15px 0 0;
}

.blank-container {
  transform: scale(0.86);
  position: absolute;
  top: 9px;
  left: -10px;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0));
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 17px 15px 0 0;
}


.title-left{
  position: absolute;
  top: -50px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color:#ffffff;
  filter: brightness(100%) saturate(500%);
  margin: 0px 0px 0px 12px;
  border-radius: 17px 15px 0 0;
}

.title-right{
  position: absolute;
  top: -37px;
  right: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:#ffffff;
  filter: brightness(100%) saturate(500%);
 
  margin: 0 0 8 0;
  border-radius: 17px 15px 0 0;
}

.modal, .event_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content, .event_modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  z-index: 2;
}


.content{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

 .eventcontent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content img, .eventcontent img {
  position: relative;
  margin-top: 27px;
  object-fit:contain;
  width: auto;
  height: auto;
  max-width: 100%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  left: 47%;
  bottom: 20px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor
}

table {
  border-collapse: collapse;
  
}
td {
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 10px;
  text-align: left;
}

.selector {
  cursor: grab !important;
  cursor: url('https://i.imgur.com/4D9WJ9B.png'), auto;
}


.Note {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 10%;
  height: 100%;
  margin: 1% auto;
  text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.8);

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/SCxq4B5.png");
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 1;
  z-index: -2;
}



/*RWD*/
@media (max-width: 1100px) {
  
  .image-container {
  width: 100%;
  }
  
  .modal-content{
    position: relative;
    width: 80%;
    height: 70%;
    top: 50%;
  }

  .card-title {
  width: 92%;
  }
  
  .title-left {
  font-size: 25px;
   top: -42px;

  }
  
  .title-right {
  font-size: 2.px;
    top:-36px ;
  }

}

/*RWD*/
@media (max-width: 600px) {
  .center-block {
  margin-top: 0px;
  }
  
  .image-container {
  width: 100%;
  }
  
  .modal-content{
    position: relative;
    width: 80%;
    height: 40%;
    top: 50%;
  }


  
  .title-left {
  font-size: 25px;
  }
  
  .title-right {
  font-size: 2.px;
  top: -35px;
  right: 10px;
  }

  body::after {
    background-size: contain;
  }
