.center-block {
    width: 500px;
    height: 500px;
    background-color: rgb(99, 99, 99);
    margin: 200 auto;
    text-align: center;
    border: 10px solid;
    position: relative;
  }
  
  .image-container:hover {
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
  }
  
  .your-image {
    width: 90%;
    margin: 25px;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 15px;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-title {
    transform: scale(0.861);
    position: absolute;
    top: 9px;
    left: -12px;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0));
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 17px 15px 0 0;
  }
  
  
  .title-left{
    position: absolute;
    top: 0px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#ffffff;
    filter: brightness(90%) saturate(1000%);
    margin: 0 0 0 0;
  }
  
  .title-right{
    position: absolute;
    top: 39px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#ffffff;
    filter: brightness(90%) saturate(1000%);
    left: 13px;
    margin: 0 0 8 0;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    width: 80%;
    height: 60%;
    border-radius: 10px;
    z-index: 2;
}


.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    left: 47%;
    bottom: 20px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor
}

table {
    border-collapse: collapse;
    width: 100%;
  }
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  